{% extends '/base.html.twig' %}

{% block body %}
    <h1>{{ program.title }} </h1>
    <section>
        <div>
            <h2>Saison {{ season.number}}</h2>
            <h3>{{ episode.number }} - {{ episode.title }}</h3>
            <p>{{ episode.synopsis }}</p>
        </div>
    </section>

    <a href="{{ path('program_season_show', {programId: program.id, seasonId: season.id} )}}">
        Retour à la liste!
    </a>
{% endblock %}