{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    {{ dump(programs) }}
    <h1>Toutes les series de la table program:</h1>
    <div class="itemsProgram">
    {% for program in programs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ loop.index }} / {{ program.title }} </h5>
                <h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ program.category.name }} </h6>
                <p class="card-text">{{ program.summary }}</p>
                <a href="{{ path("program_show", {slug: program.slug}) }}" class="card-link">Voir la fiche</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <hr/>

    {% else %}
        Aucune serie trouvée.
    {% endfor %}
    </div>
     <a href="{{ path('app_index') }}">
         Retour à l'accueil
     </a>
{% endblock %}